.form_container {
    padding-top: 65px;

}

.form_card {
    max-width: 638px;
    min-height: 767px;
    margin: 44px auto;
    box-shadow: 0px 6px 16px 0px rgba(142, 142, 166, 0.16);
    border: 1px solid #EBF1F6;
    border-radius: 32px;
}

.form_header {
    height: 64px;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header_title {
    color: #333640;
    font-family: Inter;
    font-size: 21.383px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}